.header-top__right {
margin-top: 13px;
display: flex;
justify-content: flex-end;
align-items: center;
font-size: 13px;
}

.right__link_1, .right__link_2, .right__link_3 {
    padding-right: 16px;
}

.right__link_3 {
    color: grey;
}

a {
    color: black;
   text-decoration: none; 
}

.center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.center-container {
    flex-direction: column;
}

.center-container .center__title {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    font-size: 80px;
    margin-top: 130px;
    margin-bottom: 20px; 
}

.title__letter:nth-child(1){
    font-size: 90px;
}

.title__letter:nth-child(1),
.title__letter:nth-child(2),
.title__letter:nth-child(5){
    color: #4285F4;
}

.title__letter:nth-child(3),
.title__letter:nth-child(7){
    color: #EA4335;
}

.title__letter:nth-child(4){
    color: #FBBC05;
}

.title__letter:nth-child(6){
    color: #34A853;
}

.title__letter:nth-child(7){
transform: rotate(-20deg);
}

.center-container .center__search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 30px;
    width: 585px;
}

.center__search .search__column .input__comment{
    height: 45px;
    width: 448px;
    border: none;
    font-size: 14px;
}

.center__search .search__column .input__comment:focus{
    outline: none; 
}

.center__search:hover{
    box-shadow : 0 1px 6px 0 rgba(32,33,36,0.28);
    
}

.center__search .search__column i {
    color: #222;
    opacity: 0.6;
    padding-left: 20px;
    cursor: pointer;
}

.center__search .search__column i:nth-last-child(1) {
    padding-left: 20px;
    padding-right: 20px;
    color:  #4285F4;
    opacity: 1;
}

.center__button{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.center__button .button__google,
.center__button .button__lucky {
    background-color: #f2f2f2;
    border : none;
    border-radius: 3px;
    margin-left: 13px;
    padding: 10px 20px;
    font-size: 14px;
    opacity: 0.7;
    cursor: pointer;
}

